<!-- Masthead-->
<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center text-white">
          <!-- Page heading-->
          <h1 class="mb-5">Buscador de imágenes</h1>
          <!-- Signup form-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * SB Forms Contact Form * *-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- This form is pre-integrated with SB Forms.-->
          <!-- To make this form functional, sign up at-->
          <!-- https://startbootstrap.com/solution/contact-forms-->
          <!-- to get an API token!-->
          <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
            <!-- Email address input-->
            <div class="row">
              <div class="col">
                <input matInput [(ngModel)]="searchQuery" (keyup.enter)="searchImages(searchQuery)"
                  class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Ingrese una palabra"
                  data-sb-validations="required,email" name="search" />
              </div>
              <div class="col-auto">
                <button (click)="searchImages(searchQuery)" class="btn btn-primary btn-lg" id="submitButton"
                  type="submit">Buscar
                </button>
              </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
                <a class="text-white"
                  href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
              </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">
                Error sending message!
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <br>
  <!-- Carousel wrapper -->
  <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <!-- Controls -->
    <div class="d-flex justify-content-center mb-4">
      <button class="carousel-control-prev position-relative" type="button" data-mdb-target="#carouselMultiItemExample"
        data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next position-relative" type="button" data-mdb-target="#carouselMultiItemExample"
        data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container" *ngFor="let image of images" (deferLoad)="image.show = true">
          <ng-container *ngIf="image.show">
            <mat-card>
            <mat-card-content>
            <div class="row">            
                <div class="col-lg-8">
                <div class="card">
                  <img src="{{ image.webformatURL }}" class="card-img-top" alt="..." />
                  <div class="card-body">
                    <a href="" routerLink="/user-info" routerLinkActive="active">
                      <mat-card-header>
                        <div class="avatar" mat-card-avatar [ngStyle]="{
                            'background-image': 'url(' + image.userImageURL + ')',
                            'background-size': '40px 40px'
                          }"></div>
                        <mat-card-subtitle>User: {{ image.user }}</mat-card-subtitle>
                      </mat-card-header>
                    </a>
                    <br>
                    <br>
                    <mat-card-title-group>
                      <span class="tags">
                        <mat-icon>loyalty</mat-icon>{{ image.tags }}
                      </span>
                      <span class="comment">

                        <mat-icon>visibility</mat-icon> {{ image.views }}
                      </span>
                      <a href="{{ image.pageURL }}" target="_bank" rel="noopener">
                        <span class="likes">
                          <mat-icon>thumb_up_alt</mat-icon>{{ image.likes }}
                        </span>
                      </a>
                    </mat-card-title-group>
                    <br>
                  </div>
                </div>
              </div>
            </div>
            </mat-card-content>
          </mat-card>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Inner -->
  </div>
  <!-- Carousel wrapper -->
</section>
<!-- Footer-->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#!">About</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Contact</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">
          &copy; Your Website 2021. All Rights Reserved.
        </p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-4">
            <a href="#!"><i class="bi-facebook fs-3"></i></a>
          </li>
          <li class="list-inline-item me-4">
            <a href="#!"><i class="bi-twitter fs-3"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/german.alonso8/?hl=es"><i class="bi-instagram fs-3"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>



